/* Root section */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.hide {
  display: none;
}

.dsk {
  display: none;
}

.regbtn {
  display: none;
}

.hide-menu-on-mobile {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Link-Water-White: #fbfcfe;
  --dark-pink: #ba4270;
  --Charm-Pink: #da6d97;
  --Light-San-Juan-Blue: #6c8294;
  --San-Juan-Blue: #36536b;
  --Mirage-Blue: #1b262f;
}

/* Default Styles */

.btn {
  padding: 16px 24.5px;
  border-radius: 24px;
  border: none;
  color: white;
  background-color: var(--dark-pink);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

body {
  background: #edf3f8;
  background-image: url(./assets/home/Mobile/Mobile\ -\ Home.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#hero2 {
  border: solid 1px var(--Link-Water-White);
  padding: 16px 24.5px;
  border-radius: 24px;
  color: var(--San-Juan-Blue);
  display: flex;
  justify-content: center;
  background-color: var(--Link-Water-White);
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

/* Header section */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 24px;
  margin-top: 41px;
}

.hero-section {
  margin-inline: 24px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 155px;
}

.sing-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

.hero1 {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: var(--San-Juan-Blue);
  margin: 24px;
}

.hero4 {
  font-family: "Public Sans";
  font-size: 15px;
  line-height: 18px;
  color: var(--Light-San-Juan-Blue);
  display: flex;
  justify-content: center;
  padding-bottom: 79px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Partners Section */

.dsk-partners {
  display: none;
}

#Partners-Section {
  background-image: url(./assets/home/Mobile/Bg-Partners.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 670px;
  gap: 57px;
}

.partners-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.partners-article>h1 {
  color: var(--Link-Water-White);
  font-size: 32px;
  font-family: DM Serif Display;
  line-height: 36px;
  font-weight: 200;
}

.partners-article>p {
  color: var(--Link-Water-White);
  text-align: center;
  font-size: 15px;
  font-family: Public Sans;
  line-height: 28px;
  width: 327px;
}

.partners-btn {
  width: 129px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid var(--Link-Water-White);
  text-align: center;
  font-size: 15px;
  font-family: Public Sans;
  font-weight: 700;
}

/* FEATS. SECTION */

#Feats-Section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.feats1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feats-article1 {
  display: flex;
  width: 328px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.feats-article1>h1 {
  color: var(--San-Juan-Blue);
  text-align: center;
  font-size: 36px;
  font-family: DM Serif Display;
  line-height: 36px;
  letter-spacing: -0.277px;
  font-weight: 300;
}

.feats-article1>p {
  color: var(--Light-San-Juan-Blue);
  text-align: center;
  font-size: 15px;
  font-family: Public Sans;
  line-height: 28px;
}

.feats2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feats-article2 {
  display: flex;
  width: 328px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.feats-article2>h1 {
  color: var(--San-Juan-Blue);
  text-align: center;
  font-size: 36px;
  font-family: DM Serif Display;
  line-height: 36px;
  letter-spacing: -0.277px;
  font-weight: 300;
}

.feats-article2>p {
  color: var(--Light-San-Juan-Blue);
  text-align: center;
  font-size: 15px;
  font-family: Public Sans;
  line-height: 28px;
}


.feats3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.feats3>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feats-articles>p {
  color:var(--San-Juan-Blue);
  text-align: center;
  font-size: 15px;
  font-family: Public Sans;
  line-height: 25px;
  letter-spacing: -0.115px;
}

h2 {
  color: var(--San-Juan-Blue);
  text-align: center;
  font-size: 18px;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
}


/* Tablet Screen */
@media (min-width: 700px) {

  /* Nav Bar style */
  .show-menu-on-dsktp {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .nav-items-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .nav-items-wrapper {
    display: flex;
    flex-direction: row;
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 20px;
    color: var(--San-Juan-Blue);
    gap: 40px;
  }

  .btn {
    padding: 16px 24.5px;
    border-radius: 24px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: var(--dark-pink);
    display: flex;
    justify-content: center;
  }

  /* Background*/
  body {
    background-image: url(./assets/home/Tabllet/Tablet\ -\ Home.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }

  .hero1 {
    text-align: center;
    font-size: 48px;
    font-family: DM Serif Display;
    line-height: 56px;
    letter-spacing: -0.369px;
  }

  .mob-partners {
    display: none;
  }

  .dsk-partners {
    display: flex;
  }

  #Partners-Section {
    background-image: url(./assets/home/Tabllet/Bg-Partners.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 670px;
    gap: 57px;
  }

  .partners-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .partners-article>h1 {
    color: var(--Link-Water-White);
    text-align: center;
    font-size: 48px;
    font-family: DM Serif Display;
    line-height: 56px;
    font-weight: 200;
  }

  .partners-article>p {
    color: var(--Link-Water-White);
    text-align: center;
    font-size: 15px;
    font-family: Public Sans;
    line-height: 28px;
    width: 456px;
  }

}

/* Larger Screens */
@media (min-width: 1050px) {

  /* Nav Bar style */
  .sing-phone {
    display: none;
  }

  .hero-section {
    margin-inline: 24px;
    padding-inline: 104px;
  }

  .dsk {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 85px;
  }

  /* Background*/
  body {
    background-image: url(./assets/home/Desktop/Desktop\ -\ Home.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero1 {
    width: auto;
    line-height: 72px;
    font-size: 72px;
  }

  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  #Partners-Section {
    background-image: url(./assets/home/Desktop/Bg-Partners.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 472px;
    align-items: center;
    justify-content: space-evenly;
  }

  .partners-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .partners-article>h1 {
    color: var(--Link-Water-White);
    font-size: 48px;
    font-family: DM Serif Display;
    line-height: 56px;
    font-weight: 200;
  }

  .partners-article>p {
    display: flex;
    width: 445px;
    text-align: left;
    color: #FBFCFE;
    font-size: 15px;
    font-family: Public Sans;
    line-height: 28px;
  }

}